<form (keyup.enter)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Resposta</mat-label>
    <input #answerInput name="answerInput" [(ngModel)]="answer" matInput>
    <mat-hint>Pressione "Enter" para enviar</mat-hint>
  </mat-form-field>
</form>
