<h1>{{ subject }}</h1>
<h2>{{ avalName }}</h2>
<form (ngSubmit)="init()" #idForm="ngForm">
  <mat-form-field>
    <input id="code" #code="ngModel" matInput required name="code" placeholder="Código" [(ngModel)]="accessCode" >
    <mat-hint>Digite o código de acesso</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input id="id" #id="ngModel" matInput required name="id" placeholder="Matrícula" [(ngModel)]="enrollmentId" >
    <mat-hint>Digite sua matrícula do SIGAA</mat-hint>
  </mat-form-field>
  <button type="submit" mat-button [disabled]="idForm.invalid">Começar</button>
  <mat-error *ngIf="id.dirty && id.hasError('required')">
    É necessário digitar sua matrícula
  </mat-error>
  <mat-error *ngIf="invalidAccessCode">
    Código de acesso inválido
  </mat-error>
</form>
