
:host {
  width: 100%;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}


.gretting {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 48pt;
}



ngx-blockly {
  position: absolute;
  width: 50%;
  height: 100%;
}