<!--<mat-progress-bar
  [matTooltip]="exam.missingTime | time"
  [color]="(exam.ellapsedProgress$ | async) < 90 ? 'primary' : 'warn'"
  [value]="exam.ellapsedProgress$ | async">
</mat-progress-bar>

<div class="gretting" *ngIf="isGretting; else taskCard">
  Boa prova! 🤞
</div>

<ng-template #taskCard>
  <app-task [task]="task" (concluded)="concluded($event)">
  </app-task>
</ng-template>
-->

<ngx-blockly [config]="config1" [generatorConfig]="generatorConfig" (pythonCode)="onCode($event)"></ngx-blockly>