
<mat-card [@fadeOutIn]="isShown ? 'shown' : 'hidden'">
  <mat-card-header>
    <mat-card-title>{{ task?.title }}</mat-card-title>
  </mat-card-header>
  <markdown [data]="task?.statement"></markdown>
  <mat-card-content [ngSwitch]="task?.type">
    <app-question *ngSwitchCase="'choice'" [question]="task" (answered)="answered($event)"></app-question>
    <app-input    *ngSwitchCase="'input'"  [question]="task" (answered)="answered($event)"></app-input>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button [disabled]="isAnswered" (click)="skipped()">Pular questão</button>
  </mat-card-actions>
</mat-card>