
mat-card, mat-card-content {
  margin-top: 16px;
  margin-bottom: 16px;
}

mat-card-header {
  border-bottom: 1px solid #eee;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  padding: 8px;
}

mat-card-actions {
  border-top: 1px solid #eee;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;
  padding: 8px;
}
