:host {
  width: 800px;
  display: flex;
  margin: 0 auto;
  height: 100%;
}

mat-card {
  margin: 16px;
}

.next-bnt {
  margin: 16px !important;
}

.config {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px;
  .col {
    display: flex;
    flex-direction: column;
  }
}
