
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

ul {
  padding-left: 20px;
}

li {
  margin: 15px 0;
}

button {
  margin-top: 16px;
}

h1 > p {
  font-size: initial;
  margin: 0;
  color: #999;
}