<h1>Leia com atenção!
<p>O tempo ainda não começou a contar 😉</p>
</h1>
<ul>
  <li *ngFor="let obs of observations">{{ obs }}</li>
</ul>
<mat-checkbox color="primary" [(ngModel)]="hasRead">Li e estou ciente das observações listadas.</mat-checkbox>
<button mat-button color="primary" (click)="start()" [disabled]="!hasRead">Iniciar</button>

