.question {
  .statement {
    font-size: 1.2em;
  }
  code {
    background-color: #ececec;
    padding: 3px;
    border-radius: 4px;
  }
  .options {
    display: flex;
    &.horiz {
      flex-direction: row;
      justify-content: space-evenly;
    }
    &.vert {
      flex-direction: column;
      justify-content: start;
    }
    .mat-button {
      white-space: inherit;
      text-align: justify;
      padding: 16px;
      line-height: 1.5em;
    }
    button {
      flex-grow: 1;
    }  
  }
  .option {
    display: flex;
    mat-icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    &.correct {
      background-color: #b0ffb0;
      color: #008000;
    }
    &.wrong {
      background-color: #fff0f0;
      color: #f00;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px;
  }
}