<div class="question">
  <!-- <markdown class="statement" [data]="question?.statement"></markdown> -->
  <div class="options" [ngClass]="layout" >
    <div class="option" *ngFor="let viewIndex of viewOrder" [ngClass]="status[viewIndex]">
      <button mat-button (click)="answer(viewIndex)" [disabled]="_answered || status[viewIndex]">
        <markdown [data]="question?.options[viewIndex].text"></markdown>
        <mat-icon *ngIf="status[viewIndex] === 'correct'">check</mat-icon>
        <mat-icon *ngIf="status[viewIndex] === 'wrong'">close</mat-icon>
        <mat-progress-bar *ngIf="mode === 'unsure'" [value]="confidence[viewIndex]"></mat-progress-bar>
      </button>
    </div>
  </div>
  <div class="footer" *ngIf="mode === 'unsure'">
    <button mat-raised-button (click)="unsureConfirm()">Confirma</button>
    <button mat-raised-button (click)="reset()">Limpa</button>
  </div>
</div>
