/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2 {
  margin-top: 0px;
  font-weight: normal;
}

p {
  text-align: justify;
}

.center {
  display: block;
  margin: 0 auto;
}
